---
import { Image } from "astro:assets";
import CloseMenu from "../images/close-menu.svg"
---

<nav id="mobile-nav" class="absolute z-0 h-[100vh] top-0 w-full bg-white flex flex-col justify-between -translate-x-full">
    
    <section>
        <div class="p-4 flex justify-end">
            <Image src={CloseMenu} alt="close-menu"></Image>
        </div>
        <div class="flex flex-col w-full justify-center items-center">
            <a href="" class="py-4">Home</a>
            <a href="" class="py-4">About Me</a>
            <a href="" class="py-4">Proyects</a>
            <a href="" class="py-4">Tecnologies</a>
            <a href="" class="py-4">Contact Me</a>
        </div>
    </section>

    <section id="copyright" class="flex justify-center items-center p-4">
        <p>Carlos Sanchez - Copyright {new Date().getFullYear()}</p>
    </section>
</nav>